language: cpp
compiler: gcc
os:
  - linux
dist: trusty
matrix:
  include:
    # works on Precise and Trusty
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
before_install:
  - eval "${MATRIX_EVAL}"
install:
  - sudo apt-get install libboost-test-dev -y
  - sudo apt-get install doxygen graphviz -y
before_script:
  - echo "deb http://archive.ubuntu.com/ubuntu xenial main universe" | sudo tee -a /etc/apt/sources.list
  - sudo apt-get update -qq
script:
- cmake .
- cmake --build .
- cmake --build . --target package
after_success:
  # Generate the docs only if master, and the TRAVIS_BUILD_DOCS is not zero
  - >-
    if [[ "$TRAVIS_BRANCH" = "master" && -n "$TRAVIS_BUILD_DOCS" ]] ; then
      cd $TRAVIS_BUILD_DIR
      echo 'Generating Doxygen code documentation...'
      # Redirect both stderr and stdout to the log file AND the console.
      cd 4_task/doc
      doxygen Doxyfile 2>&1 | tee doxygen.log
    fi
deploy:
  - provider: script
    skip_cleanup: true
    script:
    - curl -T otus-cpp-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb -uimelker:$BINTRAY_API_KEY "https://api.bintray.com/content/imelker/otus-cpp/homeworks/$TRAVIS_BUILD_NUMBER/otus-cpp-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb;deb_distribution=trusty;deb_component=main;deb_architecture=amd64;publish=1"
  - provider: pages
    skip-cleanup: true
    github-token: $GITHUB_TOKEN
    keep-history: true
    local-dir: 4_task/doc/html
    on:
      branch: master